@import "/node_modules/normalize.css/normalize.css";

$pink: #FFDDA1;
$green: #71B340;
$brown: #D16014;
$white: #EAF8BF;
$yellow: #ffdb70;

@mixin title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 35vh;
}

@mixin card {
    grid-column: 1/2;
    grid-row: 1/2;
}

html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}



.container {
    display:grid;
    max-width: 100%;
    margin: 0px 2rem 0;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

h1 {
    color: white;
    margin: 0 0 2rem 2rem;
    align-self: flex-end;
    font-size: 2rem;
    text-shadow: 1px 1px 5px black;
}

.title {
    @include title;
    display: flex;
}
.video-overlay  {
    @include title;
    background: black;
    z-index: -1;
    opacity: 0.3;
}

.video {
    @include title;
    object-fit: cover;
    object-position: 0 80%;    
    z-index: -2
}

.content {
    display: flex;
    flex-direction: column;
}

.block {    
    margin: 10px 0 10px;
    
    display: grid;
    background: $white;
    
    z-index: -2;

    img {
        @include card;
        filter: grayscale(80);
        filter: opacity(0.15);    
        width: 100%;
        height: 100%;
        
        z-index: -1;
    }

    .border {
        @include card;
        h2 {
            padding: 10px 20px;
            background: rgba(0,0,0,0.15);
            
            margin: 0px;
            text-align: center;
            color: white;
            text-shadow: 1px 1px 3px black;
            font-size: 2.5rem;
        }
    }
}

li {
    font-size: 1.5rem;
}


